<ion-content [fullscreen]="true" class="signup-container ion-padding">
  <div class="signup-wrapper">
    <ion-card class="signup-card">
      <ion-card-content>
        <form [formGroup]="signupForm" (ngSubmit)="submit()" class="signup-form">

          <!-- Avatar -->
          <div class="avatar-section">
            <ion-item lines="full" class="form-item">
              <ion-select formControlName="avatarName" interface="popover"
                [okText]="'SIGNUP.SELECT_AVATAR_OK' | translate"
                [cancelText]="'SIGNUP.SELECT_AVATAR_CANCEL' | translate">
                <ion-select-option *ngFor="let av of avatars" [value]="av">
                  {{ av }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <div class="avatar-preview">
              <img [src]="'assets/images/avatars/' + signupForm.get('avatarName')!.value + '.jpg'"
                [alt]="'SIGNUP.AVATAR_PREVIEW' | translate" />
            </div>
          </div>

          <!-- Nickname -->
          <ion-item lines="full" class="form-item">
            <ion-input [label]="'SIGNUP.NICKNAME' | translate" labelPlacement="floating" formControlName="nickname"
              required autocomplete="nickname" enterkeyhint="next">
            </ion-input>
          </ion-item>
          <div class="error" *ngIf="signupForm.get('nickname')?.invalid && signupForm.get('nickname')?.touched">
            <div *ngIf="signupForm.get('nickname')?.hasError('required')">
              {{ 'SIGNUP.ERRORS.NICKNAME_REQUIRED' | translate }}
            </div>
            <div *ngIf="signupForm.get('nickname')?.hasError('pattern')">
              {{ 'SIGNUP.ERRORS.NICKNAME_PATTERN' | translate }}
            </div>
          </div>

          <!-- Email -->
          <ion-item lines="full" class="form-item">
            <ion-input [label]="'SIGNUP.EMAIL' | translate" labelPlacement="floating" type="email"
              formControlName="email" required autocomplete="email" enterkeyhint="next">
            </ion-input>
          </ion-item>
          <div class="error" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
            <div *ngIf="signupForm.get('email')?.hasError('required')">
              {{ 'SIGNUP.ERRORS.EMAIL_REQUIRED' | translate }}
            </div>
            <div *ngIf="signupForm.get('email')?.hasError('email')">
              {{ 'SIGNUP.ERRORS.EMAIL_INVALID' | translate }}
            </div>
          </div>

          <!-- Password -->
          <ion-item lines="full" class="form-item">
            <ion-input [label]="'SIGNUP.PASSWORD' | translate" labelPlacement="floating" type="password"
              formControlName="password" required autocomplete="new-password" enterkeyhint="next">
            </ion-input>
          </ion-item>
          <div class="error" *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
            <div *ngIf="signupForm.get('password')?.hasError('required')">
              {{ 'SIGNUP.ERRORS.PASSWORD_REQUIRED' | translate }}
            </div>
            <div *ngIf="signupForm.get('password')?.hasError('minlength')">
              {{ 'SIGNUP.ERRORS.PASSWORD_MIN' | translate }}
            </div>
          </div>

          <!-- Confirm Password -->
          <ion-item lines="full" class="form-item">
            <ion-input [label]="'SIGNUP.CONFIRM_PASSWORD' | translate" labelPlacement="floating" type="password"
              formControlName="confirmPassword" required autocomplete="new-password" enterkeyhint="done">
            </ion-input>
          </ion-item>
          <div class="error"
            *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched">
            <div *ngIf="signupForm.get('confirmPassword')?.hasError('mismatch')">
              {{ 'SIGNUP.ERRORS.PASSWORD_MISMATCH' | translate }}
            </div>
          </div>

          <!-- Botón -->
          <ion-button type="submit" expand="block" shape="round" class="signup-button" [disabled]="signupForm.invalid">
            {{ 'SIGNUP.BUTTON' | translate }}
          </ion-button>

          <!-- Login -->
          <div class="login-container">
            <span class="login-text">{{ 'SIGNUP.ALREADY_ACCOUNT' | translate }}</span>
            <ion-button fill="clear" (click)="navCtrl.navigateRoot(['/login'])" class="login-button">
              {{ 'SIGNUP.LOGIN' | translate }}
            </ion-button>
          </div>

        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>