ion-app {
    display: flex;
    min-height: 100vh;
}

app-sidebar {
    background: #627cbc;
    padding: 20px;
    overflow-y: auto;
}

ion-router-outlet {
    flex: 1;
    position: relative;
    padding: 20px;
}