<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header-container">
    <ion-icon name="arrow-back-outline" class="back-icon" (click)="navCtrl.navigateRoot(['/menu'])"></ion-icon>
    <h1 class="page-title">{{ 'SEARCH.TITLE' | translate }}</h1>
  </div>

  <!-- Buscador y botón filtro -->
  <div class="search-filter-container">
    <ion-searchbar name="searchTerm" [(ngModel)]="searchTerm" [placeholder]="'SEARCH.PLACEHOLDER' | translate"
      (keyup.enter)="search()" (ionInput)="realTimeSearch()">
    </ion-searchbar>

    <ion-button fill="clear" class="filter-icon-button" (click)="toggleFilters()"
      [attr.aria-label]="'SEARCH.SHOW_FILTERS' | translate">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- Filtros -->
  <div class="filter-dropdown" *ngIf="showAllFilters" (click)="$event.stopPropagation()">

    <!-- Colores -->
    <div class="filter-group">
      <label>{{ 'FILTER.COLORS' | translate }}</label>
      <label *ngFor="let option of cardColorOptions" class="checkbox-item">
        <ion-checkbox [(ngModel)]="option.checked" (ionChange)="cardColor(option)">
        </ion-checkbox>
        <span>{{ option.label }}</span>
      </label>
    </div>

    <!-- Rareza -->
    <div class="filter-group">
      <label>{{ 'FILTER.RARITY' | translate }}</label>
      <ion-select [(ngModel)]="rarity" interface="popover" placeholder="'FILTER.SELECT_RARITY' | translate"
        (ionChange)="realTimeSearch()">
        <ion-select-option *ngFor="let option of rarityOptions" [value]="option.value">
          {{ option.label }}
        </ion-select-option>
      </ion-select>
    </div>

    <!-- Tipos -->
    <div class="filter-group">
      <label>{{ 'FILTER.TYPES' | translate }}</label>
      <label *ngFor="let option of cardTypeOptions" class="checkbox-item">
        <ion-checkbox [(ngModel)]="option.checked" (ionChange)="cardType(option)">
        </ion-checkbox>
        <span>{{ option.label | translate }}</span>
      </label>
    </div>
  </div>

  <!-- Mensaje de estado -->
  <div class="message" *ngIf="isLoading">{{ 'SEARCH.LOADING' | translate }}</div>
  <div class="message" *ngIf="!isLoading && hasSearched && cards.length === 0">
    {{ 'SEARCH.NO_RESULTS' | translate }}
  </div>

  <!-- Listado de cartas -->
  <div class="card-grid" *ngIf="!isLoading && cards.length > 0">
    <img *ngFor="let card of cards" (click)="navigateToDetails(card.id)" [src]="card.imageUrl" [alt]="card.name"
      loading="lazy" />
  </div>

  <!-- Paginación -->
  <div class="pagination-buttons" style="display: flex; justify-content: center; margin-top: 20px;">
    <ion-button size="small" shape="round" (click)="prevPage()" [disabled]="page === 1">{{ 'ACTIONS.PREVIOUS' |
      translate }}</ion-button>
    <ion-button size="small" shape="round" (click)="nextPage()">{{ 'ACTIONS.NEXT' | translate }}</ion-button>
  </div>

  <app-sidebar></app-sidebar>
</ion-content>