<ion-content>

  <!-- Botón para volver al menú principal -->
  <div class="button-container">
    <ion-button size="small" shape="round" (click)="navCtrl.navigateRoot(['/menu'])">
      Volver al menú principal
    </ion-button>
  </div>

  <!-- Filtros -->
  <div class="filter-container">

    <!-- Colores -->
    <div class="filter-group">
      <label>Tipos:</label>
      <label *ngFor="let option of cardColorOptions" class="checkbox-item">
        <ion-checkbox [(ngModel)]="option.checked" (ionChange)="cardColor(option)">
        </ion-checkbox>
        <span>{{ option.label }}</span>
      </label>
    </div>

    <!-- Rareza -->
    <div class="filter-group">
      <label>Rareza:</label>
      <ion-select [(ngModel)]="rarity" interface="popover" placeholder="Selecciona rareza">
        <ion-select-option *ngFor="let option of rarityOptions" [value]="option.value">
          {{ option.label }}
        </ion-select-option>
      </ion-select>
    </div>

    <!-- Tipos -->
    <div class="filter-group">
      <label>Tipos:</label>
      <label *ngFor="let option of cardTypeOptions" class="checkbox-item">
        <ion-checkbox [(ngModel)]="option.checked" (ionChange)="cardType(option)">
        </ion-checkbox>
        <span>{{ option.label }}</span>
      </label>
    </div>

  </div>

  <!-- Buscador de cartas -->
  <div class="search-container">
    <ion-searchbar name="searchTerm" [(ngModel)]="searchTerm" placeholder="Escribe nombre..."
      (keyup.enter)="search()"></ion-searchbar>
    <ion-button size="small" shape="round" (click)="search()">Buscar</ion-button>
  </div>

  <!-- Mensaje de estado -->
  <div class="message" *ngIf="isLoading">Buscando cartas…</div>
  <div class="message" *ngIf="!isLoading && hasSearched && cards.length === 0">
    No se encontraron cartas.
  </div>

  <!-- Listado de cartas -->
  <div class="card-grid" *ngIf="!isLoading && cards.length > 0">
    <img *ngFor="let card of cards" (click)="navigateToDetails(card.id)" [src]="card.imageUrl" [alt]="card.name"
      loading="lazy" />
  </div>

  <!-- Paginación -->
  <div class="pagination-buttons" style="display: flex; justify-content: center; margin-top: 20px;">
    <ion-button size="small" shape="round" (click)="prevPage()" [disabled]="page === 1">Anterior</ion-button>
    <ion-button size="small" shape="round" (click)="nextPage()">Siguiente</ion-button>
  </div>

</ion-content>
