<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header-container">
    <ion-icon name="arrow-back-outline" class="back-icon" (click)="navCtrl.back()"></ion-icon>
    <h1 class="page-title">{{ 'OTHER_USER_DECK_VIEW.TITLE' | translate }}</h1>
  </div>

  <div class="content-container">
    <div class="form-container">


      <!-- Form -->
      <div class="form-group">
        <label class="form-label">{{ 'OTHER_USER_DECK_VIEW.NAME_LABEL' | translate }}</label>
        <input type="text" class="text" [(ngModel)]="deckCardsService.name"
          [placeholder]="'OTHER_USER_DECK_VIEW.NAME_PLACEHOLDER' | translate" readonly>
      </div>

      <div class="form-group">
        <label class="form-label">{{ 'OTHER_USER_DECK_VIEW.DESCRIPTION_LABEL' | translate }}</label>
        <input type="text" class="text" [(ngModel)]="deckCardsService.description"
          [placeholder]="'OTHER_USER_DECK_VIEW.DESCRIPTION_PLACEHOLDER' | translate" readonly>
      </div>

      <!-- Contador de cartas -->
      <div class="card-counter">
        <p class="counter-text">{{ 'OTHER_USER_DECK_VIEW.CARD_COUNT' | translate }}: {{ deckSize() }}/150</p>
      </div>

      <!-- Action Buttons -->
      <div class="action-buttons">
        <button class="action-button" (click)="cardDetails()">
          {{ 'OTHER_USER_DECK_VIEW.VIEW_CARDS' | translate }}
        </button>
      </div>

      <!-- Victories -->
      <div class="counter-box">
        <label class="form-label">{{ 'OTHER_USER_DECK_VIEW.VICTORIES' | translate }}</label>
        <div class="counter-controls">
          <span class="counter-value">{{ deckCardsService.victories }}</span>
        </div>
      </div>

      <!-- Defeats -->
      <div class="counter-box">
        <label class="form-label">{{ 'OTHER_USER_DECK_VIEW.DEFEATS' | translate }}</label>
        <div class="counter-controls">
          <span class="counter-value">{{ deckCardsService.defeats }}</span>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">{{ 'OTHER_USER_DECK_VIEW.VICTORY_RATE' | translate }}</label>
        <div class="counter-value victory-rate">{{ getVictoryRate() }}</div>
      </div>

    </div>
  </div>
</ion-content>
<app-sidebar></app-sidebar>