<ion-content>
  <div class="header-container">
    <ion-icon name="arrow-back-outline" class="back-icon" (click)="navCtrl.back()"></ion-icon>
    <h1 class="page-title">Detalles del mazo</h1>
  </div>

  <div class="content-container">

    <div class="form-container">
      <!-- Deck Icon -->
      <div class="deck-icon-container">
        <div class="deck-icon icon-sun"></div>
      </div>

      <!-- Form -->
      <div class="form-group">
        <label class="form-label">Nombre del mazo</label>
        <input type="text" class="text" [(ngModel)]="deckCardsService.name" placeholder="nombre" readonly>
      </div>

      <div class="form-group">
        <label class="form-label">Descripción del mazo</label>
        <input type="text" class="text" [(ngModel)]="deckCardsService.description" placeholder="descripción" readonly>
      </div>

      <!-- Contador de cartas -->
      <div class="card-counter">
        <p class="counter-text">Cartas en el mazo: {{ deckSize() }}/150</p>
      </div>

      <!-- Action Buttons -->
      <div class="action-buttons">
        <button class="action-button" (click)="cardDetails()">Ver cartas</button>
      </div>

      <!-- Victories -->
      <div class="counter-box">
        <label class="form-label">Victorias</label>
        <div class="counter-controls">
          <span class="counter-value">{{ deckCardsService.victories }}</span>
         </div>
      </div>

      <!-- Defeats -->
      <div class="counter-box">
        <label class="form-label">Derrotas</label>
        <div class="counter-controls">
          <span class="counter-value">{{ deckCardsService.defeats }}</span>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">Porcentaje de victoria</label>
        <div class="counter-value victory-rate">{{ getVictoryRate() }}</div>
      </div>
    </div>
  </div>

  <div class="footer-logo">
    <img src="assets/images/logo.png" alt="MagicHub Logo" />
  </div>
  <app-sidebar></app-sidebar>
</ion-content>