<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header-container">
    <ion-icon name="arrow-back-outline" class="back-icon" (click)="navCtrl.back()"></ion-icon>
    <h1 class="page-title">{{ 'DECK_CARDS.PAGE_TITLE' | translate }}</h1>
  </div>

  <!-- Mensaje de estado -->
  <div class="message" *ngIf="deckCards.length === 0">
    {{ 'DECK_CARDS.NO_CARDS_FOUND' | translate }}
  </div>

  <br /><br />

  <!-- Listado de cartas -->
  <div class="card-grid" *ngIf="deckCards.length > 0">
    <div class="card-item" *ngFor="let card of deckCards">
      <img (click)="navigateToDetails(card.id)" [src]="card.imageUrl" [alt]="card.name" loading="lazy" />
      <button class="remove-to-deck-btn" (click)="removeCard(card.id)">
        <ion-icon name="remove-circle-outline"></ion-icon>
        <span>{{ 'DECK_CARDS.REMOVE_FROM_DECK' | translate }}</span>
      </button>
    </div>
  </div>
</ion-content>
<app-sidebar></app-sidebar>