<ion-content>
  <div class="header-container">
    <ion-icon name="arrow-back-outline" class="back-icon" (click)="navCtrl.navigateRoot(['/menu'])"></ion-icon>
    <h1 class="page-title">Mazos</h1>
  </div>

  <div class="content-container">

    <!-- Buscador y botón filtro juntos -->
    <div class="search-filter-container">
      <ion-searchbar name="searchTerm" [(ngModel)]="searchTerm" placeholder="Escribe nombre..." (keyup.enter)="getAllDecks()"
        (ionInput)="realTimeSearch()">
      </ion-searchbar>
    </div>

    <ion-grid class="decks-grid">
      <ion-row>

        <!-- Existing decks -->
        <ion-col size="6" size-md="4" size-lg="3" *ngFor="let deck of decks">
          <div class="deck-card" (click)="viewDeck(deck.id)">
            <ion-icon name="layers-outline" class="deck-icon"></ion-icon>
            <div class="deck-name">{{ deck.name }}</div>
            <div class="deck-name">{{ userNames[deck.userId] }}</div>
            <div class="deck-cards">
              <ion-icon name="albums-outline"></ion-icon>
              {{ deck.deckCards?.length ?? 0 }} cartas
            </div>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <div class="footer-logo">
    <img src="assets/images/logo.png" alt="MagicHub Logo" />
  </div>
  <app-sidebar></app-sidebar>
</ion-content>