<ion-content>
  <div class="header-container">
    <h1 class="page-title">Crear mazo</h1>
  </div>

  <div class="content-container">
    <div class="create-deck-title">CREAR MAZO</div>

    <div class="form-container">
      <!-- Deck Icon -->
      <div class="deck-icon-container">
        <div class="deck-icon icon-sun"></div>
      </div>

      <!-- Form -->
      <div class="form-group">
        <label class="form-label">Nombre del mazo</label>
        <input type="text" class="form-input" [(ngModel)]="deckCardsService.name" placeholder="nombre">
      </div>

      <div class="form-group">
        <label class="form-label">Descripción del mazo</label>
        <input type="text" class="form-input" [(ngModel)]="deckCardsService.description" placeholder="descripción">
      </div>

      <!-- Contador de cartas -->
      <div class="card-counter">
        <p class="counter-text">Cartas en el mazo: {{ deckSize() }}/150</p>
      </div>

      <!-- Action Buttons -->
      <div class="action-buttons">
        <button class="action-button" (click)="addCard()">Añadir cartas</button>
        <button class="action-button" (click)="cardDetails()">Ver cartas</button>
      </div>

      <!-- Victories -->
      <div class="counter-box">
        <label class="form-label">Victorias</label>
        <div class="counter-controls">
          <button class="counter-button" (click)="decrementVictories()">-</button>
          <span class="counter-value">{{ deckCardsService.victories }}</span>
          <button class="counter-button" (click)="incrementVictories()">+</button>
        </div>
      </div>

      <!-- Defeats -->
      <div class="counter-box">
        <label class="form-label">Derrotas</label>
        <div class="counter-controls">
          <button class="counter-button" (click)="decrementDefeats()">-</button>
          <span class="counter-value">{{ deckCardsService.defeats }}</span>
          <button class="counter-button" (click)="incrementDefeats()">+</button>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">Porcentaje de victoria</label>
        <div class="counter-value victory-rate">{{ getVictoryRate() }}</div>
      </div>



      <!-- Save-Delete Buttons -->
      <button class="create-button" (click)="updateDeck()">Guardar</button>
      <button class="create-button" (click)="deleteDeck()">Eliminar</button>
    </div>
  </div>

  <div class="footer-logo">
    <img src="assets/images/logo.png" alt="MagicHub Logo" />
  </div>
</ion-content>