<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Botón para volver al menú -->
  <div class="header-container">
    <ion-icon name="arrow-back-outline" class="back-icon" (click)="navCtrl.back()"></ion-icon>
    <h1 class="page-title">{{ 'USER_PROFILE.TITLE' | translate }}</h1>
  </div>

  <ng-container *ngIf="user">

    <!-- Datos de perfil -->
    <div class="users-container">
      <ion-card class="card-profile">

        <ion-card-header>
          <ion-card-title>{{ 'USER_PROFILE.MY_PROFILE' | translate }}</ion-card-title>
        </ion-card-header>

        <ion-card-content [formGroup]="userProfileForm">

          <!-- Avatar -->
          <div class="avatar-container">
            <div class="avatar-preview">
              <img [src]="'assets/images/avatars/' + userProfileForm.get('avatarName')!.value + '.jpg'"
                [alt]="'USER_PROFILE.AVATAR_ALT' | translate">
            </div>
            <ion-item lines="full" class="form-item">
              <ion-select formControlName="avatarName" interface="popover" [okText]="'USER_PROFILE.SELECT' | translate"
                [cancelText]="'USER_PROFILE.CANCEL' | translate">
                <ion-select-option *ngFor="let av of avatars" [value]="av">
                  {{ av }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>

          <!-- Nickname -->
          <ion-item lines="full" class="form-item">
            <ion-input [label]="'USER_PROFILE.NICKNAME' | translate" labelPlacement="floating"
              formControlName="nickname" required autocomplete="nickname" enterkeyhint="next">
            </ion-input>
          </ion-item>

          <!-- Email -->
          <ion-item lines="full" class="form-item">
            <ion-input [label]="'USER_PROFILE.EMAIL' | translate" labelPlacement="floating" type="email"
              formControlName="email" required autocomplete="email" enterkeyhint="next">
            </ion-input>
          </ion-item>

          <!-- Botones de acción -->
          <div class="action-buttons">
            <ion-button expand="block" (click)="onSubmitProfile()">
              {{ 'USER_PROFILE.SAVE_CHANGES' | translate }}
            </ion-button>
            <ion-button fill="outline" expand="block" (click)="viewDecks()">
              {{ 'USER_PROFILE.VIEW_DECKS' | translate }}
            </ion-button>
          </div>

        </ion-card-content>
      </ion-card>

      <!-- Cambio de contraseña -->
      <ion-card class="card-password">

        <ion-card-header>
          <ion-card-title>{{ 'USER_PROFILE.CHANGE_PASSWORD' | translate }}</ion-card-title>
        </ion-card-header>

        <ion-card-content [formGroup]="passwordForm">

          <div class="password-fields">

            <!-- Nueva contraseña -->
            <ion-item lines="full" class="form-item">
              <ion-input [label]="'USER_PROFILE.PASSWORD' | translate" labelPlacement="floating" type="password"
                formControlName="newPassword" required autocomplete="new-password" enterkeyhint="next">
              </ion-input>
            </ion-item>

            <!-- Confirmar contraseña -->
            <ion-item lines="full" class="form-item">
              <ion-input [label]="'USER_PROFILE.REPEAT_PASSWORD' | translate" labelPlacement="floating" type="password"
                formControlName="confirmPassword" required autocomplete="new-password" enterkeyhint="done">
              </ion-input>
            </ion-item>

            <ion-button expand="block" (click)="onSubmitPassword()">
              {{ 'USER_PROFILE.SUBMIT_PASSWORD' | translate }}
            </ion-button>

          </div>
        </ion-card-content>
      </ion-card>
    </div>

  </ng-container>
  <app-sidebar></app-sidebar>
</ion-content>