ion-content {
    --background: var(--ion-background-color);
    padding: 32px 16px;
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 0 16px;
    margin: 16px 0;
}

.button-container ion-button {
    --padding-top: 4px;
    --padding-bottom: 4px;
    --padding-start: 12px;
    --padding-end: 12px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
}

.search-container ion-searchbar {
    width: 50%;
}

.search-container ion-button {
    margin-left: 8px;
    flex-shrink: 0;
}

.message {
    text-align: center;
    color: var(--ion-text-color);
    margin: 24px 0;
    font-size: 1.1em;
    font-style: italic;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card-grid img {
    width: 250px;
    height: auto;
    border-radius: 6px;
    background: var(--ion-card-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-add-button {
  --border-radius: 20px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  --background: linear-gradient(135deg, #28a745, #218838);
  --color: grey;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 6px 16px;
  text-transform: none;
}


@media (max-width: 600px) {
    .search-container ion-searchbar {
        width: 70%;
    }

    .card-grid img {
        width: 150px;
    }
}
